@use "./vars";

.layout {
  max-width: 1350px;
  margin: 15px auto;
  font-family: Arial, 'Courier New', sans-serif;
  font-style: normal;
  font-weight: 400;
  // background-color: vars.$color-white;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}