// Color
$color-white: #fff;
$color-darkBlue: #0A398A;
$color-videoBg: #F7EEE5;
$color-aboutText: #6C5F4A;
$color-bannerBg: #0A3B93;

// Fonts
$fonts-Lato: "Lato-Bold";
$fonts-LatoRegular: "Lato-Regular";