// Color
$color-white: #fff;
$color-darkBlue: #0A398A;
$color-videoBg: #F7EEE5;
$color-aboutText: #6C5F4A;
$color-bannerBg: #0A3B93;
$color-deffbeerTitleBg: #8A7B60;
$color-deffbeerTitleBgSecond: #0A3B8E;

// Fonts
$fonts-Lato: "Lato-Bold";
$fonts-LatoRegular: "Lato-Regular";

// Mixin
// $width-L: 1340px;
$width-M: 1339px;
$width-S: 1019px;
$width-XS: 699px;

// @mixin desctop {
//   @media (max-width: #{$width-M}) {
//     @content;
//   }
// }

@mixin laptop {
  @media (max-width: #{$width-M}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$width-S}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$width-XS}) {
    @content;
  }
}